
{% block content %}
    <h1>Liste des cadres</h1>


    <br>

    <table border="1" style="border-collapse:collapse;">
        <thead>
        <tr>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'cadre_choix' %}">Cadre</a></th>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'article_choix' %}">Type article</a></th>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'longueur' %}">Longueur</a></th>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'largeur' %}">Largeur</a></th>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'crochet' %}">Crochet</a></th>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'prix_service' %}">Prix service</a></th>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'chute' %}">Chute</a></th>
            <th><a href="{% url 'ProduitApp:tri_cadre' 'prix' %}">Prix total</a></th>
            <th>Quantité</th>
            <th>Is deleted</th>

        <tr>
        </thead>
        <tbody>
        {% for cadre in cadres %}
            <tr>
                <td>{{ cadre.cadre_choix }}</td>
                <td>{{ cadre.article_choix }}</td>
                <td>{{ cadre.longueur }}</td>
                <td>{{ cadre.largeur }}</td>
                <td>{{ cadre.crochet }}</td>
                <td>{{ cadre.prix_service }}</td>
                <td>{{ cadre.chute }}</td>
                <td>{{ cadre.prix }}</td>
                <td>{{ cadre.quantity }}</td>
                <td>{{ cadre.is_deleted }}</td>

                <td><a href="{% url 'ProduitApp:modifier_cadre' cadre.id %}">Modifier</a></td>
                <td><a href="{% url 'ProduitApp:supprimer_cadre' cadre.id %}">Supprimer</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button>
        <a href="{% url 'ProduitApp:create_cadre' %}">Créer un cadre</a>
    </button>
{% endblock %}


