table.customTable {
  width: 100%;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
}

table.customTable td, table.customTable th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

table.customTable th {
    background-color: #EBEBEB;
    color : #000000
}

table.customTable thead {
  background-color: #E3E3E3;
  color : #000000;
}

table.customTable tbody tr:not(:first-child) td {
  color: #FFFFFF;
}
