{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Le Pro de l'immo MATHIEU SATHIYALINGAM</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-main.css">
        <link rel="stylesheet" href="static/css/tableau.css">
        <link rel="stylesheet" href="static/css/avis.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script>
    (function() {
        emailjs.init("skIPO21-K9ADYQ1PJ");
     })();
    </script>

    <body>

    <div class="sequence">

      <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
      </div>

    </div>

    <nav>
          <div class="logo">
              <img src="static/img/logo.png" alt="">
          </div>
          <div class="mini-logo">
              <img src="static/img/mini_logo.png" alt="">
          </div>
          <ul>
            <li><a href="#1"><i class="fa fa-home"></i> <em>Accueil</em></a></li>
            <li><a href="#2"><i class="fa fa-info-circle"></i> <em>A propos</em></a></li>
            <li><a href="#3"><i class="fa fa-image"></i> <em>Galerie</em></a></li>
            <li><a href="#4"><i class="fa fa-money"></i> <em>Honoraires</em></a></li>
            <li><a href="#5"><i class="fa fa-envelope"></i> <em>Contact</em></a></li>
            <li><a href="#6"><i class="fa fa-comments-o"></i> <em>Avis</em></a></li>
          </ul>
    </nav>



        <div class="slides">
          <div class="slide" id="1">
            <div class="content first-content">
              <div class="container-fluid">
                  <div class="col-md-3">
                      <div class="author-image"><img src="{% static '/img/author_image.png' %}" alt="Author Image"></div>
                  </div>
                  <div class="col-md-9">
                      <h2>Mathieu SATHIYALINGAM</h2>
                      <p>Profitez d'une acquisition rapide de l'<em>appartement idéal</em> grâce à notre réseau de chasseurs d'appartements, qui vous offrent une <em>expertise spécialisée</em> et un <em>accompagnement personnalisé</em>.<strong><a rel="nofollow" href="https://www.toocss.com"></a></strong>.</p>
                      <div class="main-btn"><a href="#2">En savoir plus</a></div>
                      <div class="fb-btn"><a href="https://calendly.com/prodelimmomathieu/30min" target="_blank">Prendre rendez-vous</a></div>


                  </div>
              </div>
            </div>
          </div>
            <div class="slide" id="2">
            <div class="content second-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="left-content">
                            <h2>A propos</h2>
                            <p>Bienvenue sur mon site, votre destination de confiance pour trouver le chasseur immobilier qui vous accompagnera dans la <a href="">réalisation de vos rêves immobiliers</a>.<br>Mon approche est <a href="">centrée sur vous</a>, mes clients. Je crois en l'importance de comprendre vos besoins, vos préférences et vos objectifs immobiliers.</p>
                            <p>En me choisissant en tant que <a href="">chasseur immobilier expert</a>, vous bénéficiez d'un gain de temps précieux et d'une tranquillité d'esprit. Je m'occupe de toutes les démarches fastidieuses, des visites aux négociations, en passant par les vérifications légales et administratives, afin que vous puissiez vous concentrer sur ce qui compte vraiment : <a href="">trouver le foyer idéal pour vous et votre famille.</a></p>
                            <p>Explorez mon site et découvrez comment je peux vous aider à concrétiser vos projets immobiliers.</p>
                          <div class="main-btn"><a href="#3">En savoir plus</a></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                          <img src="static/img/about_image.jpg" alt="">
                      </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="slide" id="3">
            <div class="content fourth-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/first_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Un</h2>
                                            <p>Une maison chaleureuse avec volets en bois et jardin fleuri.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/first_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/second_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Deux</h2>
                                            <p>Vue panoramique sur les montagnes depuis la maison.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/second_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/third_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Trois</h2>
                                            <p>Véranda accueillante pour se détendre.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/third_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/fourth_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Quatre</h2>
                                            <p>Intérieur lumineux avec hauts plafonds et grandes fenêtres.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/fourth_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/fifth_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Cinq</h2>
                                            <p>Cuisine moderne avec îlot central.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/fifth_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/six_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Six</h2>
                                            <p>Salon cosy avec cheminée en pierre.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/six_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/seven_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Sept</h2>
                                            <p>Suite parentale avec salle de bains privative.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/seven_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/eight_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Huit</h2>
                                            <p>Chambres supplémentaires pour invités ou bureaux.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/eight_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/nine_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Neuf</h2>
                                            <p>Jardin bien entretenu avec piscine et barbecue.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/nine_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/ten_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Dix</h2>
                                            <p>Garage attenant avec allée pavée.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/ten_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/eleven_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Onze</h2>
                                            <p>Matériaux de qualité et finitions soignées.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/eleven_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="static/img/twelve_big_item.png" data-lightbox="image-1"><div class="hover-effect">
                                        <div class="hover-content">
                                            <h2>Numéro Douze</h2>
                                            <p>Une oasis de calme et confort en famille.</p>
                                        </div>
                                    </div></a>
                                    <div class="image">
                                        <img src="static/img/twelve_item.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <<div class="slide" id="4">
            <div class="content fourth-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <h2>Chasse immobilière</h2>
                                                <p>Chercher et trouver le bien immobilier parfait peut être une tâche fastidieuse et épuisante, mais avec mon aide, cette quête se transformera en une expérience agréable et efficace.</p>
                                                <div class="main-btn"><a href="#5">Continuer à lire</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="static/img/first_service.jpeg" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="static/img/second_service.jpeg" alt="second service">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                <h2>Honoraires</h2>
                                                <p><table border="1" class="customTable">
                                                    <tr>
                                                        <th>Montant des biens</th>
                                                        <th>Montant des commissions</th>
                                                    </tr>
                                                    <tr>
                                                        <td>< 150 000 €</td>
                                                        <td>5 900 € TTC minimum </td>
                                                    </tr>
                                                    <tr>
                                                        <td>De 150 000 € à 300 000 €</td>
                                                        <td>4%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>De 900 001 € à 1 100 000 €</td>
                                                        <td>3%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>De 1 500 001 € à 2 000 000 €</td>
                                                        <td>2%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>> à 2 000 000 € </td>
                                                        <td>1%</td>
                                                    </tr>
                                                    </table>
                                                </p>

                                                <div class="main-btn"><a href="#5">Continuer à lire</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="slide" id="5">
                <div class="content fifth-content">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20953.232455798323!2d2.3828520501193173!3d48.96959173864489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66bb424479d99%3A0xa7568d936f33c09!2s95140%20Garges-l%C3%A8s-Gonesse!5e0!3m2!1sfr!2sfr!4v1719681641291!5m2!1sfr!2sfr" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form method="POST" action="{% url 'index' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Votre prénom..." required>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Votre email..." required>
                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Sujet..." required>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre message..." required></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn" >Envoyer</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
            <div class="slide" id="6">
            <div class="content first-content">
              <div class="container-fluid">
                  <div class="col-md-6">
                      <h2>Les avis</h2>
                        <ul>
                            {% for avis in avis %}
                            <li class="avis-item">
                            <strong>{{ avis.nom }}</strong><br>
                                {{ avis.note}}/5  - {{ avis.date_creation|date:"d/m/Y" }}<br>
                            {{ avis.commentaire }}<br>
                            </li>
                            <br>
                            {% endfor %}
                        </ul>
                        <div class="avis-btn">
                            <a href="{% url 'ajouter_avis' %}">Ajouter un avis</a>
                            <!--<button id="openModalBtn">AviS</button>-->
                        </div>
                        <!--<div id="modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                            <div id="modalContent"></div>
                        </div>-->
                 </div>

                  </div>


              </div>
            </div>

          </div>
        </div>


        <div class="footer">
          <div class="content">
              <p>Copyright &copy; 2023 Le Pro de l'immo  <a rel="">Mathieu Sathiyalingam</a></p>
          </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/datepicker.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {



        // navigation click actions
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
    <script>
  function sendEmail() {
        var params = {
            name : document.getElementById("name").value,
            email : document.getElementById("email").value,
            subject : document.getElementById("subject").value,
            message : document.getElementById("message").value,
        };
    const serviceID = service_d2s4e8i;
    const templateID = template_841rimf;

    emailjs
    .send(serviceID,templateID,params)
    .then((res)=>{
        document.getElementById("name").value = "";
        document.getElementById("email").value = "";
        document.getElementById("subject").value = "";
        document.getElementById("message").value = "";
        console.log(res);
        alert("your message sent successfully");
    });
    .catch((err)=> console.log(err));

    }
</script>

    <script>
        const openModalBtn = document.getElementById("openModalBtn");
const modal = document.getElementById("modal");
const modalContent = document.getElementById("modalContent");

openModalBtn.addEventListener("click", () => {
    modal.style.display = "block";
    // Load your HTML content into the modalContent element
    modalContent.innerHTML = `
        <h2>Modal Content</h2>
        <p>This is the content of the modal.</p>
    `;
});

modal.addEventListener("click", (event) => {
    if (event.target === modal) {
        modal.style.display = "none";
    }
});

    </script>


</body>
</html>