<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pop-up Example</title>
<link rel="stylesheet" src="static/css/avis.css">
</head>
<body>
<button id="openPopup">Ouvrir la Pop-up</button>

<div id="popup" class="popup">
  <div class="popup-content">
    <span id="closePopup" class="close-btn">&times;</span>
    <h2>Contenu de la Page</h2>
    <div id="popupContent">
      <!-- Le contenu de la page chargée sera affiché ici -->
    </div>
  </div>
</div>

<script src="IMMO/static/js/script.js"></script>
</body>
</html>