
<h2 class="text center">Résultats des recherches : </h2>

<div class="container">

    <table border="1" style="border-collapse:collapse;">
        <thead>
            <th> N° </th>
            <th> Client </th>
            <th>Produits</th>
            <th>Produits bruts</th>
            <th> Date de création </th>
            <th> Date de réception </th>
            <th> Commande livrée </th>
        </thead>
        <tbody>
        {% if commandes %}
            {% for command in commandes %}
            <tr>
                <td>{{command.id}}</td>
                <td>{{command.client}}</td>
                <td>{{command.prix }}</td>
                <td>{% for produit in command.produits.all %}
                    {{ produit.designation}}<br>
                {% endfor %}</td>
                <td>{% for produit in command.produitsBruts.all %}
                    {{ produit.designation}}<br>
                {% endfor %}</td>
                <td>{{command.date_creation }}</td>
                <td>{{command.date_reception }}</td>
                <td>{{command.statut}}</td>
                <td><a class ="btn btn-sm btn-info" href="{% url 'VenteApp:update_order' command.id %}">modifier</a></td>
                <td><a class ="btn btn-sm btn-danger" href="{% url 'VenteApp:delete_order' command.id %}">supprimer</a></td>
            </tr>
            {% endfor %}
        {% else %}
            <p>Aucune commande</p>
        {% endif %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'VenteApp:venteApp' %}">Revenir</a>
</div>