<!-- templates/ajouter_produits.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter des Produits</title>
</head>
<body>
  <h3>Produits sélectionnés:</h3>
{% if produits_selectionnes %}
  <ul>
    {% for produit in produits_selectionnes %}
      <li>{{ produit.designation }} - {{ produit.prix }} € 
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="produit_id" value="{{ produit.id }}">
            <button type="submit" name="supprimer_produit">Supprimer</button>
          </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Aucun produit sélectionné</p>
{% endif %}

<h3>Liste des produits:</h3>
{% if produits %}
  <ul>
    {% for produit in produits %}
      <li>
        {{ produit.designation }} - {{ produit.prix }} €
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="produit" value="{{ produit.id }}">
          <button type="submit">Ajouter</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Aucun produit disponible</p>
{% endif %}

      
</body>
</html>

