<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vente</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

{% load static %}
{% load humanize %}

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Vente</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/venteApp">Bons Livraison</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'VenteApp:proformat' %}">Proformat</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>   

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ order }}</span></div>
                                <div class="stat-heading">Commande</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href = "{% url 'ClientApp:clientApp' %}">
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ customer }}</span></div>
                                <div class="stat-heading">Client</div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-product-hunt"></i>
                        </div>
                        <a href = "{% url 'ProduitApp:produitApp' %}">
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ product }}</span></div>
                                <div class="stat-heading">Produit</div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    <a classe ="btn btn-info" href="{% url 'VenteApp:pdf_view' %}" target="_blank">Aperçu PDF</a>
    <a class="btn btn-info"  href="{% url 'VenteApp:pdf_download' %}">Télécharger PDF</a>
    <br>
    <br>

<a class="btn btn-primary btn-sm btn-block" href="{% url 'VenteApp:order_create' %}">Créer une commande</a>
    <a class="btn btn-primary btn-sm btn-block" href="{% url 'ClientApp:create_customer' %}">Ajouter un client</a>
<br>
<br>
<form action="{% url 'VenteApp:search' %}" method="get" class="d-flex">
    <input class="form-control me-2" type="text" name="requete" placeholder="recherche" aria-label="search">
    <button class="btn btn-outline-success" type="submit">🔎</button>
</form>
<br>
<table border="1" style="border-collapse:collapse;">
    <thead>
     <th> N° </th>
    <th> Client</th>
     <th>Quantité</th>
     <th>Total</th>
    <th> Date de création</th>
    <th> Date de réception</th>
    <th> Commande livrée</th>
    </thead>
    <tbody>
    {% for command in dataCommande %}
    <tr>
        <td>{{command.id}}</td>

        <td><a href='{% url "VenteApp:order_details" command.id %}' >
            {{command.client}}</a>
        </td>
        <td> {{ command.total_qty }}</td>
        <td> {{ command.total_order | intcomma }}</td>
        <td>{{command.date_creation }}</td>
        <td>{{command.date_reception }}</td>
        <td>{{command.statut}}</td>
        <td><a class ="btn btn-sm btn-info" href="{% url 'VenteApp:update_order' command.id %}">modifier</a></td>
        <td><a class ="btn btn-sm btn-danger" href="{% url 'VenteApp:delete_order' command.id %}">supprimer</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>