
{% extends 'ProduitApp/produit_base.html' %}

{% block content %}
    <!--Titre de la page-->
    <h1>Liste des autres produits</h1>
    <!--Tableau pour afficher les données-->

<!-- Formulaire de recherche -->
<form method="get" action="{% url 'ProduitApp:recherche_autre_produit' %}" >
    {% csrf_token %}
    <input type="text" name="search_query" placeholder="Désignation ou categorie">
    <button type="submit">Rechercher</button>
  </form>
<!--
  <form method="get" action="{% url 'FournisseursApp:search_fournisseurs' %}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher par raison sociale ou numéro de téléphone" name="search_query">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
        </div>
    </div>
</form>
-->

    <table border="2" style="border-collapse:collapse;">
        <thead>
        <!--Ligne d'en-tête du tableau-->
        <tr>
            <th>Désignation</th>
            <th>catégorie</th>
            <th>prix d'achat</th>
            <th>prix de vente</th>
            <th>quantité</th>
            <th>quantité alerte</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--Boucle pour parcourir chaque élément de la liste autres_produits-->
        {% for autre_produit in autres_produits %}
            <tr>
                <td>{{ autre_produit.designation }}</td>
                <td>{{autre_produit.categorie}}</td>
                <td>{{ autre_produit.prix_achat}}</td>
                <td>{{ autre_produit.prix_vente}}</td>
                <td>{{ autre_produit.quantite}}</td>
                <td>{{ autre_produit.stock_alerte}}</td>
                <!--Lien pour afficher les détails d'un produit-->
                <td><a href="{{ autre_produit.get_absolute_url }}">Détails</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">Aucun produit trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
    <!--Bouton pour ajouter un autre produit-->
    <button><a href="{%url 'ProduitApp:add_autre_produit'%}" style="text-decoration:none;">Ajouter un produit </a></button>

    </tbody>

{% endblock %}