<!DOCTYPE html>
<html lang="en">
{% extends "siteWeb/base.html" %}
{% load static %}{% block pageContent %}

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0">Page d'accueil</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark">
        <div class="card-inner">
            <h5 class="card-title">Achat</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"> compte </h5>
            <p class="tx-12 text-muted">Over All Count of Categories</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-cart-outline"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark">
        <div class="card-inner">
            <h5 class="card-title">Vente</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"> compte </h5>
            <p class="tx-12 text-muted">Over All Count of Products</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-currency-usd"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark">
        <div class="card-inner">
            <h5 class="card-title">Client</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"> compte </h5>
            <p class="tx-12 text-muted">Over All Count of Today's Transactions</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-account-search"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark">
        <div class="card-inner">
            <h5 class="card-title">Fournisseur</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"> compte</h5>
            <p class="tx-12 text-muted">Total Sales Today</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-truck"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark">
        <div class="card-inner">
            <h5 class="card-title">Produit</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"> compte</h5>
            <p class="tx-12 text-muted">Total Sales Today</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-format-list-bulleted"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark">
        <div class="card-inner">
            <h5 class="card-title">Statistique</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"> compte</h5>
            <p class="tx-12 text-muted">Total Sales Today</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-trending-up"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--dark">
        <div class="card-inner">
            <h5 class="card-title">Alertes de stock</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom"> compte</h5>
            <p class="tx-12 text-muted">Total Sales Today</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-alert-circle-outline"></i>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}
